body {
    font-family: 'Noto Sans', sans-serif;
    margin: 0;
    background: #201b2c;
}

a{
    text-decoration: none;
}

header{
    background-color: #514869;
    padding: 10px;
}

.btn_abrir{
    color: #77ffc0;
    font-size: 25px;
}

nav{
    height: 100%;
    width: 0px;
    background-color: #514869;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    overflow: hidden;
}

nav a {
    color: #77ffc0;
    font-size: 25px;
    display: block;
    padding: 12px 10px 12px 32px;

}

nav a:hover {
    color:#77ffc0 ;
    background-color: black;
}

main {
padding: 10px;

}

h1 {
    color: #77ffc0;
}